<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Simple Spring MVC Todo management</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/reset.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
</head>
<body>
    <nav th:fragment="navbar">
        <div></div>
        <div><a th:href="@{index}">List TODO</a></div>
        <div>|</div>
        <div><a th:href="@{taskform}">Add TODO</a></div>
    </nav>
</body>

</html>